body {
    background-color: black !important;
    color: white !important;
}

p, h1, h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

i{
    color: #fff;
}

.navbar{
    background-color: #4B9AA6 ;

}

.feature-icon{
    background-color: #4B9AA6;
}

.card-body p{

    background-color: #4B9AA6;
    color: #fff;
}

.card-body{

    background-color: #4B9AA6;
}

footer{

    background-color: #4B9AA6;
}